<%- include('partials/header.ejs') %> 

<div class="app--container">

<!-- HEADER SECTION STARTS -->

<%- include('partials/nav-header.ejs') %> 

<!-- HEADER SECTION ENDS -->

<!-- PAGE TITLE STARTS-->

<%- include('partials/pageTitle.ejs') %> 

<!-- PAGE TITLE ENDS-->

<!-- TRENDING SECTION STARTS-->

<section class="trending">
    <hr class="horizontal">
    <div class="trending--heading-box">
     <h2 class="trending--heading">today's trending</h2>
     <a href="#trending" class="trending-link">View All</a>
    </div>
    <hr>
    <div class="trending--buttons">
     <i class="fas fa-long-arrow-alt-left left-btn"></i>
     <i class="fas fa-long-arrow-alt-right right-btn"></i>
    </div>

    <div class="trending--articles-container">
        <div class="trending--article">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/4Kj8UPnZfPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2 class="capitalize">A Brit in America makes sense of the meghan markle oprah interview... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>
        <div class="trending--article">
            <div class="trending--image">
                <img src="/images/blackChild.jpg" alt="black child Image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2>In Deborah Robert's Art, an Interrogation Of What Society Imposes on Black Children... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>
        <div class="trending--article">
            <div class="trending--image">
                <img src="/images/springSkirts.jpg" alt="skirt image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2>Spring Skirts Have Sprung - 6 Ways to Wear Them All Season Long... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>
        <div class="trending--article">
            <div class="trending--image">
                <img src="/images/photoBook.jpg" alt="photoBook Image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2 class="capitalize">The Definitive helmut newton photobook is reissued - in miniature... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>
        <div class="trending--article">
            <div class="trending--image">
                <img src="/images/blackLivesMatter.jpg" alt="black lives matter image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2 class="capitalize">5 things white people keep getting wrong about racism... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>

        <div class="trending--article">
            <div class="trending--image">
                <img src="/images/blackChild.jpg" alt="black child Image">
            </div>
            <div class="image--caption">
                <div class="left">
                    <span>Feb 11</span>
                    <p class="read">5 min read</p>
                </div>
                <div class="right">
                    <div class="line"></div>
                    <p class="author">Eden Mozart</p>
                </div>
            </div>
            <div class="trending--text">
                <h2>In Deborah Robert's Art, an Interrogation Of What Society Imposes on Black Children... <a href="" class="readmore">Read More</a></h2>
            </div>
        </div>
        

       </div>

</section>

<!-- TRENDING SECTION ENDS-->

<!-- LATEST ARTICLES SECTION START-->

<section class="latest-articles">
    <hr class="horizontal">
    <div class="trending--heading-links">
        <a href="" class="page--trending-link">View All</a>
        <a href="" class="page--trending-link">fashion</a>
        <a href="" class="page--trending-link">culture</a>
        <a href="" class="page--trending-link">business</a>
        <a href="" class="page--trending-link">opinion</a>
        <a href="" class="page--trending-link">art</a>
    </div>
    <hr class="horizontal">

    <div class="latest--articles-container">
        <div class="latest--article-card">
            <div class="image">
                <img src="/images/photoBook.jpg" alt="image">
            </div>
            <div class="latest--article-content">
                <div class="top">
                    <div class="line"></div>
                    <p class="article-author">by ellen josh</p>
                </div>
                <div class="content">
                    <h1 class="latest--article-heading">The Definitive Helmut Newton Photobook Is Reissued - in Miniature - for His 100th Birthday</h1>
                    <p class="latest--article-text">The photographer, whose provocative work rose to prominence in the 1970s against a backdrop of the second-wave feminist movement, was one of the most impactful visual creators of his time.. <a href="" class="readmore">Read More</a></p>
                </div>
                <div class="bottom">
                    <span>Feb 11</span>
                    <p class="read">5 min Read</p>
                </div>
            </div>
        </div>

        <div class="latest--article-card">
            <div class="image">
                <img src="/images/springSkirts.jpg" alt="image">
            </div>
            <div class="latest--article-content">
                <div class="top">
                    <div class="line"></div>
                    <p class="article-author">by pit monroe</p>
                </div>
                <div class="content">
                    <h1 class="latest--article-heading">Made You Look: A True Story About Fake Art - When Wanting to Believe Is Just Not Enough</h1>
                    <p class="latest--article-text">The Story of the most significant art fraud in history where ruined reputation egos mattered more than money...<a href="" class="readmore">Read More</a></p>
                </div>
                <div class="bottom">
                    <span>Feb 11</span>
                    <p class="read">5 min Read</p>
                </div>
            </div>
        </div>

        <div class="latest--article-card">
            <div class="image">
                <img src="/images/blackChild.jpg" alt="image">
            </div>
            <div class="latest--article-content">
                <div class="top">
                    <div class="line"></div>
                    <p class="article-author">by tamale frank</p>
                </div>
                <div class="content">
                    <h1 class="latest--article-heading">The Definitive Helmut Newton Photobook Is Reissued - in Miniature - for His 100th Birthday</h1>
                    <p class="latest--article-text">The photographer, whose provocative work rose to prominence in the 1970s against a backdrop of the second-wave feminist movement, was one of the most impactful visual creators of his time.. <a href="" class="readmore">Read More</a></p>
                </div>
                <div class="bottom">
                    <span>Feb 11</span>
                    <p class="read">5 min Read</p>
                </div>
            </div>
        </div>
        <div class="latest--article-card">
            <div class="image">
                <img src="/images/blackLivesMatter.jpg" alt="image">
            </div>
            <div class="latest--article-content">
                <div class="top">
                    <div class="line"></div>
                    <p class="article-author">by ellen josh</p>
                </div>
                <div class="content">
                    <h1 class="latest--article-heading">5 Things White People Keep Getting Totally Wrong About Racism...</h1>
                    <p class="latest--article-text">They want to escape the harsh, unforgiving glare of culpability by pretending they have done wrong, that if there are ongoing issues with racism in this country, it has nothing to do with how they raise their children. It's because Black people have failed to move...<a href="" class="readmore">Read More</a></p>
                </div>
                <div class="bottom">
                    <span>Feb 11</span>
                    <p class="read">5 min Read</p>
                </div>
            </div>
        </div>
    </div>

    <a href="" class="show-more">Show More</a>

</section>

<!-- LATEST ARTICLES SECTION END-->

<!-- SUBSCRIBE SECTION STARTS -->

<%- include('partials/subscribe.ejs') %> 

<!-- SUBSCRIBE SECTION ENDS -->


<!-- FOOTER SECTION STARTS -->

<%- include('partials/footer.ejs') %> 

<!-- FOOTER SECTION ENDS -->
</div>